{% extends "GuestUser/master.html"%}
{% block content %}

<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to AgroLink</h1>
      <h2>Cultivating Prosperity and Connection for All.</h2>
      <img src="assets/img/F1.jfif" height="400px" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="#" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-5">
            <img src="assets/img/f3.jfif"  alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-7 col-lg-4 ml-5">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <h2><span>AgroLink</span>Your Farming Assistant </h2>
              <p>Where agriculture thrives, communities unite, and prosperity blossoms.
                 Join us in nurturing sustainable farming practices, fostering direct connections between growers and consumers,
                  and growing a brighter future for everyone in Uganda.
              <button class="btn btn-outine-info"> Read More</button>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Amazing Features.</h2>
          <p class="separator">AgroLink: Your all-in-one hub for transforming Ugandan agriculture.
             Explore products, stay weather-wise, connect with farmers, and cultivate success</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="assets/img/svg/paint-palette.svg" alt="img">
              <h4>Weather Updates</h4>
              <p>Current weather conditions and forecasts for users' locations, helping them plan their farming activities.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="assets/img/svg/vector.svg" alt="img">
              <h4>Messaging System</h4>
              <p>An easy-to-use messaging system to inquire about products and communicate with other users</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="assets/img/svg/design-tool.svg" alt="img">
              <h4>Comunity Forum/Blog</h4>
              <p>Access to a community space where users can share knowledge, stories, and farming tips.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="assets/img/svg/asteroid.svg" alt="img">
              <h4>Weather Insights</h4>
              <p>Insights and recommendations based on weather data to aid farmers in their decision-making.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="assets/img/svg/asteroid.svg" alt="img">
              <h4>Privacy & security</h4>
              <p>Information on data privacy and security measures implemented to protect user information.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="assets/img/svg/cloud-computing.svg" alt="img">
              <h4>Social sharing</h4>
              <p>Buttons to easily share product listings or platform content on social media.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="assets/img/svg/pixel.svg" alt="img">
              <h4>Localisation</h4>
              <p>Options to choose preferred language and region settings.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="assets/img/svg/code.svg" alt="img">
              <h4>Educational Resources</h4>
              <p>Discover articles, guides, and resources on sustainable farming practices.</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="padd-section text-center">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-8">

            <div class="testimonials-content">
              <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner" role="listbox">

                  <div class="carousel-item  active">
                    <div class="top-top">

                      <h2>Agrolink Success Stories: What Our Users Say</h2>
                      <p>I love knowing where my food comes from. GreenConnect's transparency and direct access to local
                        farmers ensure I'm getting the freshest produce while supporting our community.</p>
                      <h4>Kimberly owe nansana<span>Agricultural Enthusiast</span></h4>

                    </div>
                  </div>

                  <div class="carousel-item ">
                    <div class="top-top">

                      <h2>Agrolink Success Stories: What Our Users Say</h2>
                      <p>GreenConnect has transformed the way I farm. With real-time weather updates and market insights,
                        I've increased my yields and income. It's a game-changer for Ugandan farmers!.</p>
                      <h4>thatgirlMomo<span>Farmer</span></h4>

                    </div>
                  </div>

                  <div class="carousel-item ">
                    <div class="top-top">

                      <h2>Agrolink Success Stories: What Our Users Say</h2>
                      <p>GreenConnect isn't just about farming; it's about community development. It empowers local farmers,
                         boosts our economy, and promotes sustainable practices. It's a win for everyone!.</p>
                      <h4>Chairman LC1<span>Politician</span></h4>

                    </div>
                  </div>

                </div>

                <div class="btm-btm">

                  <ul class="list-unstyled carousel-indicators">
                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                  </ul>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="padd-section">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Contact Us</h2>
          <p class="separator">Feel free to get in touch with us by filling out the form below.
            We value your input and look forward to hearing from you</p>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Blue Heights<br> Kampala, Uganda</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <p>agrolink@ug.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+256 777647474</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
{% endblock content%}
</body>
</html>